body{
    text-align: center;
    background-color: darkgray;
}

.text, .congrats{
    font-size:25px;
    width:300px;
    margin:auto;
}
p{
    font-size:10px;
}

.container, .mess, .timer, .congrats{
    display: none;
}

.timer{
    font-size:80px;
}
span{
    color:red;
    font-size:25px;
}
.btn{
    border-radius: 15px;
    background-color: orange;
    width:200px;
    height:50px;
    cursor: pointer;
}

.btn2{
    display:none;
}

.card{
    border-radius: 10px;
    display: inline-block;
    width:100px;
    height:75px;
    border:1px solid black;
    text-align:center;

    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.cardFace {
    overflow:hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.cardFaceBack {
    background: url("img/bat.jpg") center;

}

.cardFaceFront {
    background: blue;
    transform: rotateY(180deg);

}

.container{
    padding:10px;
    width: 650px;
    height: auto;
    border:2px solid black;
    border-radius: 5px;
    margin:auto;
}

.card.flipped {
    transform: rotateY(180deg);
}